
body{
background:black;
color:white;
font-family:Arial;
overflow:hidden;
}

#topBar{
position:fixed;
top:0;
width:100%;
display:flex;
justify-content:space-between;
padding:10px 30px;
font-size:28px;
}

#bigChord{
position:fixed;
top:80px;
width:100%;
font-size:340px;
font-weight:bold;
color:#00ff00;
text-align:center;
z-index:10;
}

#lyricsContainer{
position:absolute;
bottom:-100vh;
width:100%;
text-align:center;
font-size:36px;
}

.line{
margin:30px 0;
}

.chord{
font-weight:bold;
color:white;
}

.chord.active{
color:#00ff00;
}
